[submodule "case"]
	path = case
	url = git@github.com:whisper-language/whisper-language-test.git
[submodule "whisper-grammar"]
	path = whisper-grammar
	url = git@github.com:whisper-language/whisper-grammar.git
